<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Github - Spring Boot - REST API - Client to Github</title>
</head>
<body>
<div id="logo" th:fragment="logo">
    <p>git-rest - tomwodz</p>
</div>
<div id="menu" th:fragment="menu">
    <a href="/" class="button">Strona główna</a>
    <a href="/view/client/" class="button">Klient Github</a>
    <a href="/view/" class="button">Baza danych - lista</a>
    <a href="/view/owner/" class="button">Wyszukaj repo wg właściela</a>
    <a href="/view/add/" class="button">Dodaj repo do db</a>
</div>
</body>
</html>