<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Github - Spring Boot - REST API - Client to Github</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/repo.css">
</head>
<body>

<div th:replace="~{fragments.html :: logo}"></div>
<div th:replace="~{fragments.html :: menu}"></div>

<div id="content">

    <div>
        <form method="get">
            <input type="text" name="owner" class="input" placeholder="Szukaj">
            <input type="submit" value="Szukaj" class="button">
        </form>
    </div>

    <div class="repo">
        <div class="owner">Id: (db)</div>
        <div class="owner">Właściciel:</div>
        <div class="name">Repozytorium:</div>
        <div class="update"></div>
        <div class="delete"></div>
    </div>

    <div th:each="repo: ${repos}" class="repo">
        <div th:text="${repo.id}" class="id"></div>
        <div th:text="${repo.owner}" class="owner"></div>
        <div th:text="${repo.name}" class="name"></div>
        <div class="update"><a th:href="@{/view/update/{id}(id=${repo.id})}" class="button">EDYTUJ</a></div>
        <div class="delete"><a th:href="@{/view/delete/{id}(id=${repo.id})}" class="button">USUŃ</a></div>
    </div>

</div>

</body>
</html>