.repo {
    text-align: left;
    margin: 10px;
    border: 1px solid #003333;
}

.repo:hover {
    background-color: #fffef5;
    text-align: left;
    margin: 10px;
}

.repo .id{
    width: 5%;
    font-size: 14px;
    margin: 5px;
    text-align: left;
    display: inline-block;
}

.repo .owner{
    width: 15%;
    font-size: 14px;
    margin: 5px;
    text-align: left;
    display: inline-block;
}

.repo .name{
    width: 50%;
    font-size: 14px;
    margin: 5px;
    text-align: left;
    display: inline-block;
}

.repo .update{
    width: 10%;
    font-size: 14px;
    margin: 5px;
    text-align: left;
    display: inline-block;
}

.repo .delete{
    width: 10%;
    font-size: 14px;
    margin: 5px;
    text-align: left;
    display: inline-block;
}
